@use '../utils/' as u;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: u.$clr-neutral-900 ;
}

a {
    @include u.body-typo;
    text-decoration: none;
    color: u.$clr-neutral-100;
    &:hover {
        cursor: pointer;
        color: u.$clr-primary-300;
    }
}