// font-family
$ff-primary: 'Outfit', sans-serif;

//font-size
$fs-body: 18px;

//colors
$clr-primary-500: hsl(215, 51%, 70%);
$clr-primary-300: hsl(178, 100%,  50%);

$clr-neutral-900: hsl(217, 54%, 11%);
$clr-neutral-800: hsl(216, 50%, 16%);
$clr-neutral-700: hsl(215, 32%, 27%);
$clr-neutral-100: hsl(0, 0%, 100%);

//font-weight
$fw-600: 600;
$fw-400: 400;
$fw-300: 300;